@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic-ext");
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Regular.eot");
  src: url("../fonts/PFDinTextCompPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Regular.woff2") format("woff2"), url("PFDinTextCompPro-Regular.woff") format("woff"), url("PFDinTextCompPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PF light';
  src: url("../fonts/PFDinTextCompPro-Light.eot");
  src: url("../fonts/PFDinTextCompPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Light.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Light.woff") format("woff"), url("../fonts/PFDinTextCompPro-Light.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

.mobile {
  display: none !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

body {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  cursor: default; }

h1 {
  font-weight: bold;
  font-size: 64px; }

h2 {
  font-weight: bold;
  font-size: 54px; }

h3 {
  font-weight: bold;
  font-size: 44px; }

h4 {
  font-weight: bold;
  font-size: 32px; }

p {
  font-size: 14px;
  letter-spacing: 0.9px;
  line-height: 25px; }

.wrapper {
  min-height: 100%;
  min-width: 1180px;
  position: relative;
  overflow: hidden;
  margin-bottom: -350px; }

.wrapper::after {
  content: '';
  display: block;
  overflow: hidden;
  height: 350px; }

.container {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.container_inner {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.content {
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 70px; }

.slick-slide {
  outline: 0; }

/*FOOTER*/
.site-footer {
  position: relative;
  z-index: 100;
  height: 350px;
  min-width: 1180px;
  width: 100%;
  margin-top: -350px;
  margin-top: 0; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.wrapper_home {
  background: url(../img/bg/home_3.svg) top 200px left no-repeat;
  background-size: 180%; }

.entry-header {
  display: none; }

.title {
  font-family: 'PF light';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 42px; }

.title_center {
  font-family: 'PF light';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 42px;
  text-align: center; }

.title_top {
  margin-top: 80px; }

/*.services {
    background: url(../img/bg/home_3.svg) center left no-repeat;
}*/
.services_home_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0 40px 60px; }

.services_home_item {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 90px;
  padding-top: 50px;
  text-decoration: none;
  background: url(../img/ico/services/1.svg) top left no-repeat;
  overflow: hidden; }
  .services_home_item h4 {
    color: #154F9E;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    text-transform: capitalize;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .services_home_item p {
    letter-spacing: 0.3px;
    color: #000;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .services_home_item .line {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 110px;
    left: -200px;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background-color: #0E366B;
    /*
        background-color: transparent;*/ }

.services_home_item:hover .line {
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px); }

.services_home_item:hover h4 {
  color: #0E366B; }

.services_home_item_2 {
  background: url(../img/ico/services/2.svg) top left no-repeat; }

.services_home_item_3 {
  background: url(../img/ico/services/3.svg) top left no-repeat; }

.services_home_item_4 {
  margin: 0;
  background: url(../img/ico/services/4.svg) top left no-repeat; }

.services_home_item_5 {
  background: url(../img/ico/services/5.svg) top left no-repeat; }

.services_home_item_6 {
  background: url(../img/ico/services/6.svg) top left no-repeat; }

.services_home_item_7 {
  background: url(../img/ico/services/7.svg) top left no-repeat; }

.services_home_item_8 {
  margin: 0;
  background: url(../img/ico/services/8.svg) top left no-repeat; }

.purpose_wrapper {
  width: 100%;
  height: 390px;
  background: url(../img/bg/home_1.svg) bottom right no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.purpose {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  padding: 40px 0 0 350px;
  background: url(../img/ico/logo_transparent.svg) left center no-repeat; }
  .purpose h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 36px;
    color: #fff; }
  .purpose p {
    color: #fff; }

.contacts {
  width: 960px;
  height: 450px;
  margin: 0 auto;
  padding-top: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.contacts_item {
  text-align: center; }
  .contacts_item h2 {
    padding-left: 55px;
    color: #124285;
    letter-spacing: 3px;
    background: url(../img/ico/contacts/map.svg) left center no-repeat;
    background-position: left bottom -10px; }
  .contacts_item a {
    display: inline-block;
    text-decoration: none;
    color: #4D4D4D;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .contacts_item a:hover {
    color: #0E366B;
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px); }

.contacts_item:nth-child(2) h2 {
  padding-left: 45px;
  background: url(../img/ico/contacts/phone.svg) left top no-repeat;
  background-position: left bottom 7px; }

.contacts_item:nth-child(3) h2 {
  background: url(../img/ico/contacts/mail.svg) left center no-repeat;
  background-position: left bottom 13px; }

.contacts_item:nth-child(3) a {
  display: inline-block;
  padding-top: 10px; }

.home_about_wrapper {
  padding: 40px 0 60px;
  /*
    background: url(../img/bg/home_5.svg) center left -500px no-repeat;*/ }

.home_about {
  margin: 0 auto;
  width: 650px; }

.home_about_photo {
  width: 100%;
  height: 320px;
  background: url(../img/test/1.png) center no-repeat;
  margin: 60px 0; }

.home_about_text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  .home_about_text p {
    width: 290px;
    text-align: justify; }

.benefits_wrapper {
  width: 100%;
  height: 650px;
  padding-top: 60px;
  background-image: url(../img/bg/home_4.svg), url(../img/bg/home_2.svg);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 30%, cover; }
  .benefits_wrapper h2 {
    color: #fff; }

.benefits {
  width: 1080px;
  margin: 70px auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .benefits h3 {
    font-size: 18px;
    font-weight: 600;
    color: #fff; }
  .benefits p {
    color: #fff; }

.benefits_item {
  width: 240px;
  padding-top: 100px;
  background: url(../img/ico/benefits/1.svg) top left no-repeat; }

.benefits_item_2 {
  background: url(../img/ico/benefits/2.svg) top 11px left no-repeat; }

.benefits_item_3 {
  background: url(../img/ico/benefits/3.svg) top left no-repeat; }

.benefits_item_4 {
  background: url(../img/ico/benefits/4.svg) top left no-repeat; }

super_line {
  width: 100%;
  height: 400px; }

.header {
  position: relative;
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.background_line {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 45px;
  left: 0;
  background-color: #0E366B; }

.main_container {
  position: relative;
  -webkit-box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.15); }

.logo {
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 140px;
  background-color: #154F9E;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); }
  .logo a {
    display: inline-block;
    background-image: url(../img/ico/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width: 100%;
    height: 100%;
    color: transparent;
    border-radius: 50%;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms; }
  .logo a:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.email {
  display: inline-block;
  width: 24px;
  height: 27px;
  margin-right: 20px;
  background: url(../img/ico/email.svg) center bottom no-repeat;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.email:hover {
  background: url(../img/ico/contacts/mail_hover.svg) center bottom 3px no-repeat; }

.location {
  display: inline-block;
  width: 24px;
  height: 27px;
  background: url(../img/ico/location.svg) center bottom no-repeat;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.location:hover {
  background: url(../img/ico/contacts/map_hover.svg) center bottom 3px no-repeat; }

.phone {
  height: 24px;
  padding-left: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin-left: 20px;
  background: url(../img/ico/phone.svg) top 3px left no-repeat;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.phone:hover {
  color: #0E366B;
  background: url(../img/ico/contacts/phone_hover.svg) top 3px left 2px no-repeat; }

.header_contacts {
  z-index: 2;
  padding: 0 80px;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-toggle {
  display: none !important; }

.header_nav {
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: #124285; }

.nav-menu {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding-left: 120px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav-menu li {
    position: relative;
    list-style: none;
    padding: 0 8px 0;
    height: 70px;
    margin-right: 75px;
    overflow: hidden; }
  .nav-menu li:nth-child(3) {
    margin-right: 260px; }
  .nav-menu li.current_page_item a {
    opacity: 1; }
  .nav-menu li.current_page_item::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .nav-menu li::after {
    position: absolute;
    bottom: 0;
    left: -100%;
    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    /*transform: scale(0);*/
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .nav-menu a {
    display: inline-block;
    color: #fff;
    font-family: 'PF light';
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    height: 100%;
    opacity: .5;
    text-transform: uppercase;
    line-height: 70px;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .nav-menu li:hover::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .nav-menu a:hover {
    opacity: 1; }

/*========= HOME ============*/
.header_home {
  position: relative;
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.slider_header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-color: #F7F7F7; }
  .slider_header .slick-next {
    right: 50px;
    width: 32px;
    height: 32px;
    background: url(../img/ico/next.svg) top 3px left no-repeat;
    opacity: .5;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .slider_header .slick-prev {
    left: 50px;
    width: 32px;
    height: 32px;
    z-index: 100;
    opacity: .5;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background: url(../img/ico/prev.svg) top 3px left no-repeat; }
  .slider_header .slick-next:hover, .slider_header .slick-prev:hover {
    opacity: 1; }
  .slider_header .slick-prev::before, .slider_header .slick-next::before {
    content: ''; }
  .slider_header .slick-dots {
    bottom: 70px; }
    .slider_header .slick-dots li {
      width: 12px;
      height: 12px;
      background-color: #154F9E;
      opacity: 0.2;
      border-radius: 50%;
      margin: 0 7px; }
      .slider_header .slick-dots li * {
        display: none; }
    .slider_header .slick-dots li:hover {
      opacity: .4; }
    .slider_header .slick-dots li.slick-active {
      opacity: 1; }

.slide_wrapper {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slide_content {
  text-align: center;
  height: 350px;
  margin-top: 150px;
  width: 580px;
  color: #0E366B; }
  .slide_content h1 {
    font-weight: 600;
    text-transform: capitalize; }
    .slide_content h1 span {
      font-weight: 400; }
  .slide_content p {
    text-transform: capitalize; }

.slide_more, .slide_another {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 190px;
  height: 50px;
  line-height: 43px;
  text-decoration: none;
  color: #124285;
  border-radius: 30px;
  border: 3px solid #124285;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  outline: 0;
  margin: 0 5px;
  overflow: hidden; }

.slide_another {
  width: 160px;
  background-color: #124285;
  color: #fff; }

.slide_more::after {
  display: inline-block;
  position: absolute;
  content: '';
  background-color: #1858b2;
  width: 130px;
  height: 2px;
  bottom: 7px;
  left: 50%;
  margin-left: -65px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.slide_more:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.slide_another::after {
  display: inline-block;
  position: absolute;
  content: '';
  background-color: #fff;
  width: 100px;
  height: 2px;
  bottom: 7px;
  left: 50%;
  margin-left: -50px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.slide_another:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.slide_more:hover {
  border: 3px solid #1858b2;
  color: #1858b2; }

.slide_another:hover {
  background-color: #1858b2;
  border: 3px solid #1858b2; }

.slider_item_1 {
  background: url(../img/bg/slide_1.png) top left no-repeat;
  background-size: contain; }

.site-footer {
  background-color: #0E366B; }
