@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompPro-Regular.eot');
    src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('PFDinTextCompPro-Regular.woff') format('woff'),
        url('PFDinTextCompPro-Regular.ttf') format('truetype'),
        url('../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

  
@font-face {
    font-family: 'PF light';
    src: url('../fonts/PFDinTextCompPro-Light.eot');
    src: url('../fonts/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype'),
        url('../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic-ext');
